body{
    background-color: rgb(27, 155, 197);
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
}

.header{
    background-color: white;
    height: 55px;
    margin-top: 0px;
    border-bottom: 1px solid black;
}

.buttons{
    background-color: white;
    width: 33%;
    float: right;
}
/*
#about{
    padding: 10px;
}

#register{
    padding: 10px;
}
*/
#about, #register{
    margin: 5px;
    background-color: rgb(19, 130, 167);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 10px;
}

.signUp{
    margin: auto;
    width: 25%;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
}

.title{
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input[type=submit]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    background-color: rgb(19, 130, 167);
    color: white;
}